{{# partial "contenido" }}

    <div class="d-flex flex-column flex-shrink-0 p-5 text-white">
        <div class="jumbotron p-5 bg-black">
            <h1 align=center>Aviso de Trayectos</h1>
            <div>
                <p align=center>
                Usted no es miembro de ninguna Organizacion. Por favor, haga click para postularse a una Organizacion:
                <a href="/postulaciones2">link</a>
                </p>
            </p>
        </div>
    </div>
{{/partial}}
{{> layout3.html.hbs }}