{{#partial "contenido"}}
    <div class="d-flex flex-column flex-shrink-0 p-5 text-white">
        <div class="jumbotron p-5 bg-black">
        <h1>Login</h1>
            <form method="post" action="/login">
                  <input type="text" placeholder="Nombre de Usuarios" name="nameUser"/><br><br>
                  <input type="password" placeholder="Password" name="passUser"/><br><br>
                  <a class="link-primary" href="#">¿Cómo puedo recuperar mi contraseña?</a>
                  <a class="link-primary" href="/register">No tengo cuenta</a>
                  <br><br>
                  <input class="btn btn-primary" type="submit" value="Aceptar">
            </form>
        </div>
    </div>
{{/partial}}
{{> layout3.html.hbs }}