{{# partial "contenido" }}
		<section>
			<div class="d-flex flex-column flex-shrink-0 p-5 text-white">
                <div class="jumbotron p-5 bg-black">
                    <div class="container-postulacion">
                        <div class="titulo-postulacion">
                            <h1>La postulación fue Rechazada!</h1>
                        </div>
                    </div>
                    <div class="separador-section">
                        <hr>
                    </div>
                </div>
            </div>
		</section>
{{/partial}}
{{> layout3.html.hbs }}