{{# partial "contenido" }}
<div class="banner">
    <!--img src="imagenes/portada-transparente.png" width="100%" alt="Banner" title="Portada-Principal"-->
    <div id="informacion">
        <div class="container-informacion">
            <div class="informacion-flex">
                <h4>Su resultado es: </h4>
                <p>
                    {{mensaje}}
                </p>
            </div>
        </div>
    </div>
</div>
{{/partial}}

{{> layout.html.hbs }}